/monitor/supporting_files/email_info.txt
/monitor/supporting_files/email_info.yaml
/monitor/supporting_files/email_info_test.txt
/monitor/supporting_files/email_info_test.yaml
/monitor/supporting_files/slack_communication.yaml
